*.la
*.lo
*.log
*.o
*.swp
*.tar.xz
*.trs
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
m4/
src/shl_githead.c
stamp-h1
test-suite.log
test_dlist
test_edbus
test_githead
test_htable
test_trie
